<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>idEvento</key>
		<integer>0</integer>
		<key>aviso</key>
		<string>Cvton</string>
		<key>fecha</key>
		<date>2015-04-10T14:14:42Z</date>
		<key>urlFoto</key>
		<string>https://scontent-dfw.xx.fbcdn.net/hphotos-xtp1/v/t1.0-9/11061193_947901291887886_6176869609683040959_n.jpg?oh=addc59ae249446e6525de54f83157303&amp;oe=55A1ABB8</string>
		<key>detalles</key>
		<string>Ven a partir del 16 y 17 de abril de 9am a 5pm a la Sala de Learning Commons en Biblioteca a que te asesoremos sobre el diseño de tu curriculum y como lo podrias mejorar.</string>
	</dict>
</array>
</plist>
