<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>nombre</key>
		<string>Céntrate en lo que has hecho, no en lo que sabes</string>
		<key>descripcion</key>
		<string>En tiempos de inestabilidad las empresas prefieren apostar por valores sólidos y seguros. Si demuestras en tu currículum que eres una persona capaz, organizada y segura, tendrás muchas más posibilidades de hacerte con un puesto. Así pues, destaca ahora más que nunca, tu experiencia y tus logros.</string>
		<key>imagen</key>
		<string></string>
	</dict>
</array>
</plist>
